.board {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    font-size: 60px;
    color: red;
    font-weight: bold;
	width: 300px; /* Total horizontal dimensions */
	height: 300px; /* Total vertical dimensions */
	display: grid; /* Enables CSS Grid */ 
	grid-template-columns: repeat(3, 1fr); /* Total horizontal space broken into 3 columns */
  grid-template-rows: repeat(3, 1fr); /* Total vertical space broken into 3 rows */
}

.box {
  border: 3px solid black; /* Shows the lines in the CSS grid */
}