.board {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  font-size: 60px;
  color: black;
  font-weight: bold;
	width: 300px; /* Total horizontal dimensions */
	height: 300px; /* Total vertical dimensions */
	display: grid; /* Enables CSS Grid */ 
	grid-template-columns: repeat(3, 1fr); /* Total horizontal space broken into 3 columns */
  grid-template-rows: repeat(3, 1fr); /* Total vertical space broken into 3 rows */
}

.box {
  border: 3px solid red; /* Shows the lines in the CSS grid */
}

h1{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}
* {/* select all elements*/
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: montserrat, sans-serif;
}
 .App{
   height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: orange;
   
 }
 form{
   display:block; 
   position: relative;
}

.error{
  color: red;
}

h3,lable{
  font-size: 15px;
}
